@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<AuthorizeView Roles="Admin">
    <Authorized>
        <!--Add Html content here-->
        <!-- This content is only visible to users in the Admin role -->
		<p>the user (@context.User.FindFirst(ClaimTypes.Name).Value) is authorized.</p>
        
        <p role="status">Current count: @currentCount</p>

        <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
	</Authorized>
	<NotAuthorized>
		<p role="alert">Sorry, you're not authorized to see this.</p>
	</NotAuthorized>
</AuthorizeView>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
